.time {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.time .day-time {
  display: flex;
  align-items: center;
  gap: 16px;
}

.time .day-time span {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
  letter-spacing: 3px;
  text-transform: uppercase;
}

.time .clock {
  display: flex;
  gap: 5px;
  align-items: flex-end;
}

.time .clock h2 {
  font-size: 100px;
  font-weight: 700;
  line-height: 100px; /* 100% */
  letter-spacing: -2.5px;
}

.time .clock span {
  font-size: 15px;
  font-weight: 300;
  line-height: 28px; /* 186.667% */
  text-transform: uppercase;
}

.time .city-name h4 {
  font-size: 15px;
  font-weight: 700;
  line-height: 28px; /* 186.667% */
  letter-spacing: 3px;
  text-transform: uppercase;
}

.time .more-less-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 4px 4px 17px;
  margin-top: 48px;
  background-color: white;
  border-radius: 28px;
  max-width: 115px;
  height: 39px;
}

.time .more-less-button span {
  opacity: 50%;
  color: black;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px; /* 116.667% */
  letter-spacing: 3.75px;
  text-transform: uppercase;
}

.time .more-less-button button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #303030;
}

.time .more-less-button button img {
  max-width: 32px;
}
