* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Inter", sans-serif;
  background-image: url(../src/assets/mobile/bg-image-daytime.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.app-night {
  font-family: "Inter", sans-serif;
  background-image: url(../src/assets/mobile/bg-image-nighttime.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.overlay {
  background-color: #00000061;
  min-height: 100vh;
  padding: 32px 26px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 500px) {
  .App {
    font-family: "Inter", sans-serif;
    background-image: url(../src/assets/tablet/bg-image-daytime.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
  }

  .app-night {
    font-family: "Inter", sans-serif;
    background-image: url(../src/assets/tablet/bg-image-nighttime.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
  }

  .time .time-properties {
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
  }

  .overlay {
    padding: 80px 64px;
  }

  .quotes-box .quote h3,
  .quotes-box .quote h2,
  .overlay .time .day-time span,
  .overlay .time .city-name h4 {
    font-size: 18px;
  }

  .overlay .quotes-box .quote {
    gap: 13px;
  }
  .overlay .time .clock h2 {
    font-size: 175px;
  }
  .overlay .drop-down {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0px -64px -80px;
  }

  .overlay .drop-down div {
    flex-direction: column;
    justify-content: center;
  }

  .overlay .drop-down div h3 {
    font-size: 13px;
  }

  .overlay .drop-down div h4 {
    font-size: 40px;
  }
}

@media (min-width: 1000px) {
  .App {
    font-family: "Inter", sans-serif;
    background-image: url(../src/assets/desktop/bg-image-daytime.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
  }

  .app-night {
    font-family: "Inter", sans-serif;
    background-image: url(../src/assets/desktop/bg-image-nighttime.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
  }

  .overlay .time {
    flex-direction: row;
    align-items: flex-end;
  }
}
